{% extends 'admin/layout.html.twig' %}

{% set nav = 'dashboard' %}

{% block content_header %}
  <h1>控制面板</h1>
{% endblock %}

{% block content_body_boxed %}
  <p>Hello, dashboard!</p>
{% endblock %}