/web/bundles/*
/web/files/*
/app/bootstrap.php.cache
/app/config/parameters.yml
/app/config/parameters_test.yml
/app/config/platform.php
/var/cache/*
/var/logs/*
/var/tmp/*
/var/data/*
!var/data/private_files/.gitkeep
!var/cache/.gitkeep
!var/logs/.gitkeep
!var/tmp/.gitkeep
/app/phpunit.xml
/build/
/vendor/
/bin/
/composer.phar
/node_modules
npm-debug.log
composer.lock
.DS_Store
edusoho-online.sublime-workspace

chunk-manifest.json
plugins/
web/static/
