<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1, maximum-scale=1">
    <meta content="{{ csrf_token(default_csrf_token_id) }}" name="csrf-token" />
    <title>{% block title %}Biz Symfony Starter{% endblock %}</title>
    <meta name="description" content="{% block description %}{% endblock %}" />
    <meta name="keywords" content="{% block keywords %}{% endblock %}" />
    
    {% block stylesheets %}
      {% include 'css_loader.html.twig' %}
    {% endblock %}
  </head>
  <body{% if body_class is defined %} class="{{ body_class }}"{% endif %}>
    {% block body %}{% endblock %}
    <div id="modal" class="modal"></div>
    {% block scripts %}
      {% include 'js_loader.html.twig' %}
    {% endblock %}
    <script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "//hm.baidu.com/hm.js?eab8e26bec12c7b8ba6d541473fffbaa";
      var s = document.getElementsByTagName("script")[0]; 
      s.parentNode.insertBefore(hm, s);
    })();
    </script>
  </body>
</html>