<!DOCTYPE html>
{{ script(['common/js/vendor.js']) -}}
{{- css('common/css/vendor.css') -}}
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    {% block stylesheets %}
      {% for path in css() %}
        <link href="{{ asset('assets/' ~ path) }}" rel="stylesheet" />
      {% endfor %}
    {% endblock %}
  </head>
  <body>
    {% block body %}{% endblock %}
    {% block scripts %}
      {% for path in script()  %}
        <script src="{{ asset( 'assets/' ~ path) }}"></script>
      {% endfor %}
    {% endblock %}
  </body>
</html>