{% extends "AppBundle::layout.html.twig" %}

{% block title %}Homepage - {{ parent() }}{% endblock %}
{% block description %}This is homepage.{% endblock %}
{% block keywords %}homepage{% endblock %}

{% do script(['app/default/index.js']) %}

{% block body %}

{% if app.user %}
  <a href="{{ path('admin_dashboard') }}">[管理后台]</a>
  <a href="{{ path('logout') }}">[退出]</a>
{% else  %}
  <a href="{{ path('login') }}">[登陆]</a>
{% endif %}

{% endblock %}